# build output (ignore everything except the final PDF)
build/*
!build/main.pdf
*.pdf
!build/main.pdf

# LaTeX aux files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.idx
*.ilg
*.ind
*.nav
*.snm
*.vrb
